@inherits Octgn.UI.WebViewBase<dynamic>
    @{ 
        var baseUrl = this.Request.Url.BasePath;
    }
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - OCTGN</title>
    <script src="@Url.Content("~/Scripts/jquery-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.4.0.debug.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/alertify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/jquery.customDialog.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/LogForwarder.js")"></script>
    <script src="@(baseUrl)/signalr/hubs"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/Main.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/alertify.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/themes/default.min.css")"/>
</head>
<body style="margin:0px">
    @RenderBody()
    @if (this.Context.CurrentUser != null)
    {
        <script type="text/javascript">
            $(function () {
            	BELOG = new LogForwarderClass();
            	BELOG.init();
            });
        </script>
    }
</body>
</html>
