@inherits Octgn.UI.WebViewBase<Octgn.UI.Models.Games.TableModel>
@{
    var baseUrl = this.Request.Url.BasePath;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Game Table - OCTGN</title>
    <script src="@Url.Content("~/Scripts/jquery-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/alertify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/jquery.customDialog.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/LogForwarder.js")"></script>
    @*<script src="@(baseUrl)/signalr/hubs"></script>*@

    <link rel="stylesheet" href="@Url.Content("~/Content/Main.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/alertify.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/themes/default.min.css")" />
</head>
<body style="margin:0px">
    <script type="text/javascript">
        $(function () {
            BELOG = new LogForwarderClass();
            BELOG.init();
            O.init();
        });
    </script>
    <div id="ConnectionStatus-UI" class="ConnectionStatus-NotConnected"></div>
    <script src="@Url.Content("~/Scripts/Custom/GameTable.js")"></script>
    Game @Model.Id : @Model.Port
    <div id="GameTable">
    </div>
    <script type="text/javascript">
        O.on('connection:Changed', function () {
            console.log("backend:" + this.value.ConnectionStatus);
            if (this.value.ConnectionStatus == 'connected') {
                $("#ConnectionStatus-UI").removeClass().addClass("ConnectionStatus-Connected");
            }
            else if (this.value.ConnectionStatus == 'disconnected') {
                $("#ConnectionStatus-UI").removeClass().addClass("ConnectionStatus-NotConnected");
            }
            else if (this.value.ConnectionStatus == 'connecting') {
                $("#ConnectionStatus-UI").removeClass().addClass("ConnectionStatus-Connecting");
            }
        }, 'backend(.)+');

        O.on('connection:Changed', function () {
            console.log("server:" + this.value.ConnectionStatus);
            if (this.value.ConnectionStatus == 'connected') {
            }
            else if (this.value.ConnectionStatus == 'disconnected') {
            }
            else if (this.value.ConnectionStatus == 'connecting') {
            }
        }, 'server(.)+');

        var prevLayout = '';
        O.on('state:PropertyChanged', function (uid) {
            if (uid != '@Model.UserId') return;
            var user = O.state.users['@Model.UserId'];
            if (prevLayout == user.layout) return;
            $('#GameTable').load(window.location.pathname + '/Resources/' + user.layout + "?sid=@ViewBag.Sid");
        }, /users\['(\d+)'\]/);
    </script>
</body>
</html>