@inherits Octgn.UI.WebViewBase<Octgn.UI.Models.Games.TableModel>
@{
    var baseUrl = this.Request.Url.BasePath;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Game Table - OCTGN</title>
    <script src="@Url.Content("~/Scripts/jquery-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/alertify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/jquery.customDialog.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/LogForwarder.js")"></script>
    @*<script src="@(baseUrl)/signalr/hubs"></script>*@

    <link rel="stylesheet" href="@Url.Content("~/Content/Main.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/alertify.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/themes/default.min.css")" />
</head>
<body style="margin:0px">
    <script type="text/javascript">
        $(function () {
            BELOG = new LogForwarderClass();
            BELOG.init();
            O.init();
        });
    </script>
    <div id="ConnectionStatus-UI" class="ConnectionStatus-NotConnected"></div>
    <script src="@Url.Content("~/Scripts/Custom/GameTable.js")"></script>
    Game @Model.Id : @Model.Port
    <div id="GameTable">
    </div>
    <script type="text/javascript">
        O.on('connection:StatusChanged', function () {
            if (this.value == 'connected') onConnected();
            else if (this.value == 'disconnected') onDisconnected();
            else if (this.value == 'reconnecting') onReconnecting();
            else if (this.value == 'reconnected') onConnected();
        });
        function onDisconnected() {
            console.log("[UI]: disconnected");
            $("#ConnectionStatus-UI").removeClass().addClass("ConnectionStatus-NotConnected");
        }
        function onConnected() {
            console.log("[UI]: connected");
            $("#ConnectionStatus-UI").removeClass("ConnectionStatus-NotConnected").addClass("ConnectionStatus-Connected");
        }
        function onReconnecting() {
            $("#ConnectionStatus-UI").removeClass().addClass("ConnectionStatus-Reconnecting");
        }

        O.be.on('gameStatusUpdated', function (status) {
            alertify.alert(!!status ? "Connected" : "Disconnected");
        });

        O.be.on('gameJoinError', function (error) {
            alertify.alert("@RT("_Layout_HostGame")", error);
        });

        var prevLayout = '';
        O.on('state:PropertyChanged', function (uid) {
            if (uid != '@Model.UserId') return;
            var user = O.state.users['@Model.UserId'];
            if (prevLayout == user.layout) return;
            $('#GameTable').load(window.location.pathname + '/Resources/' + user.layout + "?sid=@ViewBag.Sid");
        }, /users\['(\d+)'\]/);
    </script>
</body>
</html>