@inherits Octgn.UI.WebViewBase<Octgn.UI.Models.Games.TableModel>
<!DOCTYPE html>
@{
    var baseUrl = this.Request.Url.BasePath;
}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Game Table - OCTGN</title>
    <script src="@Url.Content("~/Scripts/jquery-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/json2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/alertify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/jquery.customDialog.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/LogForwarder.js")"></script>
    @*<script src="@(baseUrl)/signalr/hubs"></script>*@

    <link rel="stylesheet" href="@Url.Content("~/Content/Main.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/alertify.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/themes/default.min.css")" />
</head>
<body style="margin:0px">
    <script type="text/javascript">
        $(function () {
            BELOG = new LogForwarderClass();
            BELOG.init();
            O.init(@Model.Port);
        });
    </script>
    <div id="OctgnLoadingDiv" class="ConnectionStatus-NotConnected">
        <div>
            <div>Loading</div>
            <div class="spinner">
                <div class="c1"></div>
                <div class="c2"></div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/Custom/GameTable.js")"></script>
    <div id="GameTable">
    </div>
    <script type="text/javascript">
        O.on('connection:Changed', function () {
            console.log("backend:" + this.value.ConnectionStatus);
            if (this.value.ConnectionStatus == 'connected') {
                $('#OctgnLoadingDiv')
                    .removeClass('ConnectionStatus-NotConnected')
                    .removeClass('ConnectionStatus-Connecting')
                    .addClass('ConnectionStatus-Connected');
            }
            else if (this.value.ConnectionStatus == 'disconnected') {
                $('#OctgnLoadingDiv')
                    .removeClass('ConnectionStatus-Connected')
                    .removeClass('ConnectionStatus-Connecting')
                    .addClass('ConnectionStatus-NotConnected');
            }
            else if (this.value.ConnectionStatus == 'connecting') {
                $('#OctgnLoadingDiv')
                    .removeClass('ConnectionStatus-Connected')
                    .removeClass('ConnectionStatus-NotConnected')
                    .addClass('ConnectionStatus-Connecting');
            }
        }, 'backend(.)+');

        var prevLayout = '';
        O.on('state:Updated', function (diff) {
            var user = O.state.users['@Model.UserId'];
            if (prevLayout == user.layout) return;
            if (!user.layout) return;
            setTimeout(function () {
                $("#OctgnLoadingDiv").fadeOut(1000, function () {
                    $("#OctgnLoadingDiv").remove();
                });
            }, 2000);
            $('#GameTable').load(window.location.pathname + '/Resources/' + user.layout + "?sid=@ViewBag.Sid");
        });
    </script>
</body>
</html>